<content>
	<div class="view-game">
		<div class="main" data-click="explosion">
			<canvas width="260" height="520"></canvas>
		</div>
		<div class="side">
			<div class="next">
				<h2>Next</h2>
				<div class="shape" data-shape="Z"><b></b><b></b><b></b><b></b></div>
			</div>

			<div class="hold">
				<h2>Hold</h2>
				<div class="shape" data-shape="L"><b></b><b></b><b></b><b></b></div>
			</div>

			<div class="score">
				<h2>Score <span>0</span></h2>
				<h2>High Score <span>0</span></h2>
				<div class="level-lines">
					<h2>Level <span>0</span></h2>
					<h2>Lines <span>0</span></h2>
				</div>
			</div>
		</div>
	</div>
</content>
