<content>
	<div class="view-game">
		<div class="main">
			<canvas class="arena" width="260" height="520"></canvas>
			<canvas class="fx-layer"></canvas>
		</div>
		<div class="side">
			<div class="next">
				<h2>Next</h2>
				<div class="shape" data-shape="0"><b></b><b></b><b></b><b></b></div>
			</div>

			<div class="hold">
				<h2>Hold</h2>
				<div class="shape" data-shape="0"><b></b><b></b><b></b><b></b></div>
			</div>

			<div class="score-board">
				<h2 class="score">Score <span>0</span></h2>
				<h2 class="high-score">High Score <span>0</span></h2>
				<div class="level-lines">
					<h2 class="level">Level <span>0</span></h2>
					<h2 class="lines">Lines <span>0</span></h2>
				</div>
			</div>
		</div>
	</div>

	<div class="all-pieces">
		<div class="shape" data-shape="O"><b></b><b></b><b></b><b></b></div>
		<div class="shape" data-shape="T"><b></b><b></b><b></b><b></b></div>
		<div class="shape" data-shape="L"><b></b><b></b><b></b><b></b></div>
		<div class="shape" data-shape="I"><b></b><b></b><b></b><b></b></div>
		<div class="shape" data-shape="J"><b></b><b></b><b></b><b></b></div>
		<div class="shape" data-shape="S"><b></b><b></b><b></b><b></b></div>
		<div class="shape" data-shape="Z"><b></b><b></b><b></b><b></b></div>
	</div>
</content>
