
overflow: visible;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 13px;
	font-family: BebasNeueRegular, sans-serif;
	--gc: #22222299;

	h2 {
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
	}

	.hidden {
		display: none;
	}

	.view-countdown {
		// background: rgba(#f00,.1);
		position: absolute;
		top: 13px;
		left: 13px;
		width: 269px;
		height: 529px;
		font-size: 103px;
		pointer-events: none;
		--speed: 750ms;

		&.start {
			span {
				animation: countdown var( --speed ) ease-in-out forwards;

				&.tick-3 { animation-delay: calc( var( --speed ) * 0 ); }
				&.tick-2 { animation-delay: calc( var( --speed ) * 1 ); }
				&.tick-1 { animation-delay: calc( var( --speed ) * 2 ); }
			}
		}

		span {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			text-align: center;
			margin-top: -53px;
			opacity: 0;
		}
	}

	.view-logo {
		position: absolute;
		top: 13px;
		left: 13px;
		width: 269px;
		height: 529px;
		text-align: center;

		h2 {
			position: relative;
			top: 117px;
			width: 210px;
			height: 60px;
			display: inline-block;
			text-indent: -9999px;
			background: url(~/icons/tetris-logo.png) 50% 50%/contain no-repeat;
		}
	}

	.view-paused {
		display: none;
		background: rgba(#111,.35);
		color: #fff;
		position: absolute;
		top: 13px;
		left: 13px;
		width: 269px;
		height: 529px;
		pointer-events: none;

		h2 {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			text-align: center;
			margin-top: -53px;
			font-size: 103px;
		}
	}

	.view-game {
		position: relative;
		display: flex;

		.main {
			position: relative;
			width: 269px;
			height: 529px;
			border-radius: 5px;
			background: #000;
			// background: radial-gradient(ellipse at center, #1b1b1b, #000);
			// background-position: center center;
			// background-repeat: no-repeat;
			// background-size: 240%;
			
			&:before {
				content: "";
				position: absolute;
				top: 5px;
				left: 5px;
				width: 259px;
				height: 519px;
				border-radius: 3px;
				box-shadow: 0 0 0 2px var( --gc );
				background-image: repeating-linear-gradient(90deg, transparent 0px, transparent 25px, var( --gc ) 25px, var( --gc ) 26px),
								repeating-linear-gradient(0deg, transparent 0px, transparent 25px, var( --gc ) 25px, var( --gc ) 26px);
			}

			canvas.arena {
				position: relative;
				top: 5px;
				left: 5px;
				border-radius: 3px;
			}

			canvas.fx-layer {
				// background: rgba(#f00,.125);
				position: absolute;
				z-index: 21;
				top: -50px;
				left: -100px;
				width: calc( 100% + 200px );
				height: calc( 100% + 150px );
				// top: 0;
				// left: 0;
				// width: 100%;
				// height: 100%;
				pointer-events: none;
			}
		}

		.side {
			flex: 1;
			margin-left: 13px;
			text-align: center;
			--gc: #222222cc;
		
			.next,
			.hold {
				background: #000;
				position: relative;
				width: 124px;
				height: 144px;
				padding: 5px 3px 3px;
				margin-bottom: 21px;
				border-radius: 4px;

				&:before {
					content: "";
					position: absolute;
					bottom: 5px;
					left: 5px;
					width: 114px;
					height: 114px;
					border-radius: 2px;
					box-shadow: 0 0 0 2px var( --gc );
				}

				h2 {
					color: #666;
				}
			}

			.score-board {
				flex: 1;
				width: 124px;

				h2 {
					position: relative;
					margin-bottom: 11px;
					background: #000;
					padding: 5px 3px 3px;
					border-radius: 4px;
					color: #666;

					span {
						display: block;
						margin-top: 3px;
						padding: 0 5px;
						color: #fff;
					}
				}

				.level-lines {
					display: flex;

					h2 {
						flex: 1;

						&:first-child { margin-right: 3px; }
						&:last-child { margin-left: 3px; }
					}
				}
			}

			h2.logo {
				background: url(~/icons/tetris-logo.png) 50% 50%/contain no-repeat;
				position: relative;
				top: 0;
				left: 0;
				width: 90px;
				height: 21px;
				display: inline-block;
				text-indent: -9999px;
				mix-blend-mode: overlay;
				filter: invert(1) sepia(1) hue-rotate(235deg) opacity(.8) drop-shadow(0 1px 0 rgba(#fff,.75));
			}
		}
	}

	.all-pieces {
		position: absolute;
		top: 148px;
		left: 44px;

		> div {
			position: absolute;
			
			&:nth-child(1) { top: 0; left: 0; }
			&:nth-child(2) { top: 0; left: 78px; }
			&:nth-child(3) { top: 104px; left: 0; }
			&:nth-child(4) { top: 104px; left: 104px; }
			&:nth-child(5) { top: 234px; left: 0; }
			&:nth-child(6) { top: 234px; left: 78px; }
			&:nth-child(7) { top: 104px; left: 156px; }
		}
	}

	b {
		background: url(~/img/sprite.png) no-repeat;
		position: absolute;
		top: 40px;
		left: 40px;
		width: 25px;
		height: 25px;
	}

	.shape {
		position: absolute;
		
		&[data-shape="0"] {
			b { display: none; }
		}
		
		&[data-shape="L"] {
			top: 45px;
			left: 40px;

			b { background-position: -25px 0; }
			b:nth-child(1) { top: 0; left: 0; }
			b:nth-child(2) { top: 26px; left: 0; }
			b:nth-child(3) { top: 52px; left: 0; }
			b:nth-child(4) { top: 52px; left: 26px; }
		}
		
		&[data-shape="O"] {
			top: 58px;
			left: 37px;

			b { background-position: -50px 0; }
			b:nth-child(1) { top: 0; left: 0; }
			b:nth-child(3) { top: 0; left: 26px; }
			b:nth-child(2) { top: 26px; left: 0; }
			b:nth-child(4) { top: 26px; left: 26px; }
		}
		
		&[data-shape="Z"] {
			top: 58px;
			left: 25px;

			b { background-position: -75px 0; }
			b:nth-child(1) { top: 0; left: 0; }
			b:nth-child(3) { top: 0; left: 26px; }
			b:nth-child(2) { top: 26px; left: 26px; }
			b:nth-child(4) { top: 26px; left: 52px; }
		}
		
		&[data-shape="S"] {
			top: 58px;
			left: 25px;

			b { background-position: -75px -25px; }
			b:nth-child(1) { top: 0; left: 26px; }
			b:nth-child(3) { top: 0; left: 52px; }
			b:nth-child(2) { top: 26px; left: 0; }
			b:nth-child(4) { top: 26px; left: 26px; }
		}
		
		&[data-shape="J"] {
			top: 44px;
			left: 37px;

			b { background-position: 0 -25px; }
			b:nth-child(1) { top: 0; left: 26px; }
			b:nth-child(2) { top: 26px; left: 26px; }
			b:nth-child(3) { top: 52px; left: 26px; }
			b:nth-child(4) { top: 52px; left: 0; }
		}
		
		&[data-shape="T"] {
			top: 45px;
			left: 42px;

			b { background-position: -25px -25px; }
			b:nth-child(1) { top: 0; left: 0; }
			b:nth-child(2) { top: 26px; left: 0; }
			b:nth-child(3) { top: 52px; left: 0; }
			b:nth-child(4) { top: 26px; left: 26px; }
		}
		
		&[data-shape="I"] {
			top: 32px;
			left: 50px;

			b { background-position: -50px -25px; }
			b:nth-child(1) { top: 0; left: 0; }
			b:nth-child(2) { top: 26px; left: 0; }
			b:nth-child(3) { top: 52px; left: 0; }
			b:nth-child(4) { top: 78px; left: 0; }
		}
	}
}

@keyframes countdown {
	0%   { opacity: 0; }
	5%   { opacity: 1; transform: scale(1); }
	100% { opacity: 0; transform: scale(1.5); }
}


// custom fonts
@font-face {
	font-family: "BebasNeueRegular";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(~/fonts/BebasNeue-webfont.woff) format("woff2");
}


