
overflow: visible;

content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 13px;
	color: #fff;
	font-family: BebasNeueRegular, sans-serif;
	--gc: #22222299;

	&[data-show="start"] {
		.view-start {
			opacity: 1;
			visibility: visible;

			svg.tetris-logo {
				#fill {
					animation: logoShift 2000ms ease-in-out alternate infinite;
				}
			}
		}
	}

	&[data-show="playing"] {

	}

	&[data-show="game-over"] {
		.view-game-over {
			opacity: 1;
			visibility: visible;
		}
	}

	&.show-fireworks {
		.view-game-over {
			h3 {
				display: block;

				h2 {
					animation: textBounce 1000ms ease-in-out 4,
								textColors 4s 2;
				}
			}
		}

		.pyro {
			> .before,
			> .after {
				animation: 1s bang ease-out 7 backwards,
							1s gravity ease-in 7 backwards,
							5s position linear 7 backwards;
			}

			> .after {
				animation-delay: 1.25s, 1.25s, 1.25s;
				animation-duration: 1.25s, 1.25s, 6.25s;
			}
		}
	}

	h2 {
		font-size: 18px;
		font-weight: 400;
		text-transform: uppercase;
	}

	.hidden {
		display: none;
	}

	.view-game-over {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 13px;
		left: 13px;
		width: 269px;
		height: 529px;
		background: rgba(#111,.35);
		backdrop-filter: blur(23px);
		border-radius: 3px;
		pointer-events: none;
		padding-top: 137px;
		text-align: center;

		h2 {
			font-size: 53px;
		}

		h3 {
			margin-top: 23px;
			font-size: 31px;
		}
	}

	.pyro {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;

		> .before,
		> .after {
			position: absolute;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			.pyroShadowLoop(50);
		}
	}

	.view-countdown {
		// background: rgba(#f00,.1);
		position: absolute;
		top: 13px;
		left: 13px;
		width: 269px;
		height: 529px;
		font-size: 103px;
		pointer-events: none;
		--speed: 750ms;

		&.start {
			span {
				animation: countdown var( --speed ) ease-in-out forwards;

				&.tick-3 { animation-delay: calc( var( --speed ) * 0 ); }
				&.tick-2 { animation-delay: calc( var( --speed ) * 1 ); }
				&.tick-1 { animation-delay: calc( var( --speed ) * 2 ); }
			}
		}

		span {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			text-align: center;
			margin-top: -53px;
			opacity: 0;
		}
	}

	.view-start {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 13px;
		left: 13px;
		width: 269px;
		height: 529px;
		text-align: center;
		padding-top: 79px;
		font-size: 23px;

		svg.tetris-logo {
			position: relative;
			top: 0;
			width: 210px;
			height: 60px;
			margin-bottom: 41px;
		}

		.controls {
			.row {
				text-align: right;
				margin-bottom: 9px;

				span {
					display: inline-block;
					width: 162px;
					padding: 5px 0 0 3px;
					text-align: left;
				}

				.key {
					background: #888;
					position: relative;
					display: inline-block;
					width: 29px;
					height: 26px;
					border-radius: 4px;
					margin: 0 1px 0 0;
					vertical-align: top;
					box-shadow: 0px 3px 0px 0px #666;

					&:before {
						content: "";
						position: absolute;
						top: 3px;
						left: 4px;
						width: 21px;
						height: 21px;
						background-position: 50% 50%;
						background-size: 100% auto;
						background-repeat: no-repeat;
						filter: drop-shadow(0 1px 0 rgba(#111,.45));
					}

					&:after {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						border-radius: inherit;
						background-image: radial-gradient(ellipse at bottom center, #ffffff99, transparent);
						pointer-events: none;
					}

					&.icon-space {
						background: #a60;
						box-shadow: 0px 3px 0px 0px #950;
						width: 53px;

						&:before { left: 5px; width: 44px; opacity: .85; }
					}

					&.icon-shift {
						background: #a60;
						box-shadow: 0px 3px 0px 0px #950;
						width: 49px;

						&:before { left: 5px; width: 38px; opacity: .85; }
					}

					&.icon-p {
						background: #383;
						box-shadow: 0px 3px 0px 0px #161;

						&:before { opacity: .85; }
					}

					&.icon-escape {
						background: #833;
						box-shadow: 0px 3px 0px 0px #633;

						&:before { opacity: .7; }
					}

					&.icon-arrow-left:before  { background-image: url(~/icons/icon-arrow-left.png); }
					&.icon-arrow-right:before { background-image: url(~/icons/icon-arrow-right.png); }
					&.icon-arrow-up:before    { background-image: url(~/icons/icon-arrow-up.png); }
					&.icon-arrow-down:before  { background-image: url(~/icons/icon-arrow-down.png); }
					&.icon-space:before       { background-image: url(~/icons/icon-space.png); }
					&.icon-shift:before       { background-image: url(~/icons/icon-shift.png); }
					&.icon-p:before           { background-image: url(~/icons/icon-p.png); }
					&.icon-escape:before      { background-image: url(~/icons/icon-escape.png); }
				}
			}
		}
	}

	.view-paused {
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 13px;
		left: 13px;
		width: 269px;
		height: 529px;
		background: rgba(#111,.35);
		backdrop-filter: blur(23px);
		border-radius: 3px;
		pointer-events: none;

		h2 {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			text-align: center;
			margin-top: -53px;
			font-size: 73px;
		}
	}

	.view-game {
		position: relative;
		display: flex;

		.main {
			position: relative;
			width: 269px;
			height: 529px;
			border-radius: 5px;
			background: #000;
			// background: radial-gradient(ellipse at center, #1b1b1b, #000);
			// background-position: center center;
			// background-repeat: no-repeat;
			// background-size: 240%;
			
			&:before {
				content: "";
				position: absolute;
				top: 5px;
				left: 5px;
				width: 259px;
				height: 519px;
				border-radius: 3px;
				box-shadow: 0 0 0 2px var( --gc );
				background-image: repeating-linear-gradient(90deg, transparent 0px, transparent 25px, var( --gc ) 25px, var( --gc ) 26px),
								repeating-linear-gradient(0deg, transparent 0px, transparent 25px, var( --gc ) 25px, var( --gc ) 26px);
			}

			canvas.arena {
				position: relative;
				top: 5px;
				left: 5px;
				border-radius: 3px;
			}

			canvas.fx-layer {
				// background: rgba(#f00,.125);
				position: absolute;
				z-index: 21;
				top: -50px;
				left: -100px;
				width: calc( 100% + 200px );
				height: calc( 100% + 150px );
				// top: 0;
				// left: 0;
				// width: 100%;
				// height: 100%;
				pointer-events: none;
			}
		}

		.side {
			flex: 1;
			margin-left: 13px;
			text-align: center;
			--gc: #222222cc;
		
			.next,
			.hold {
				background: #000;
				position: relative;
				width: 124px;
				height: 144px;
				padding: 5px 3px 3px;
				margin-bottom: 21px;
				border-radius: 4px;

				&:before {
					content: "";
					position: absolute;
					bottom: 5px;
					left: 5px;
					width: 114px;
					height: 114px;
					border-radius: 2px;
					box-shadow: 0 0 0 2px var( --gc );
				}

				h2 {
					color: #666;
				}
			}

			.score-board {
				flex: 1;
				width: 124px;

				h2 {
					position: relative;
					margin-bottom: 11px;
					background: #000;
					padding: 5px 3px 3px;
					border-radius: 4px;
					color: #666;

					span {
						display: block;
						margin-top: 3px;
						padding: 0 5px;
						color: #fff;
					}
				}

				.level-lines {
					display: flex;

					h2 {
						flex: 1;

						&:first-child { margin-right: 3px; }
						&:last-child { margin-left: 3px; }
					}
				}
			}

			h2.logo {
				background: url(~/icons/small-logo.png) 50% 50%/contain no-repeat;
				position: relative;
				top: 0;
				left: 0;
				width: 90px;
				height: 25px;
				display: inline-block;
				text-indent: -9999px;
				mix-blend-mode: overlay;
				filter: sepia(1) hue-rotate(235deg) drop-shadow(0 1px 0 rgba(#fff,.35));
			}
		}
	}

	.all-pieces {
		position: absolute;
		top: 148px;
		left: 44px;

		> div {
			position: absolute;
			
			&:nth-child(1) { top: 0; left: 0; }
			&:nth-child(2) { top: 0; left: 78px; }
			&:nth-child(3) { top: 104px; left: 0; }
			&:nth-child(4) { top: 104px; left: 104px; }
			&:nth-child(5) { top: 234px; left: 0; }
			&:nth-child(6) { top: 234px; left: 78px; }
			&:nth-child(7) { top: 104px; left: 156px; }
		}
	}

	b {
		background: url(~/img/sprite.png) no-repeat;
		position: absolute;
		top: 40px;
		left: 40px;
		width: 25px;
		height: 25px;
	}

	.shape {
		position: absolute;
		
		&[data-shape="0"] {
			b { display: none; }
		}
		
		&[data-shape="L"] {
			top: 45px;
			left: 40px;

			b { background-position: -25px 0; }
			b:nth-child(1) { top: 0; left: 0; }
			b:nth-child(2) { top: 26px; left: 0; }
			b:nth-child(3) { top: 52px; left: 0; }
			b:nth-child(4) { top: 52px; left: 26px; }
		}
		
		&[data-shape="O"] {
			top: 58px;
			left: 37px;

			b { background-position: -50px 0; }
			b:nth-child(1) { top: 0; left: 0; }
			b:nth-child(3) { top: 0; left: 26px; }
			b:nth-child(2) { top: 26px; left: 0; }
			b:nth-child(4) { top: 26px; left: 26px; }
		}
		
		&[data-shape="Z"] {
			top: 58px;
			left: 25px;

			b { background-position: -75px 0; }
			b:nth-child(1) { top: 0; left: 0; }
			b:nth-child(3) { top: 0; left: 26px; }
			b:nth-child(2) { top: 26px; left: 26px; }
			b:nth-child(4) { top: 26px; left: 52px; }
		}
		
		&[data-shape="S"] {
			top: 58px;
			left: 25px;

			b { background-position: -75px -25px; }
			b:nth-child(1) { top: 0; left: 26px; }
			b:nth-child(3) { top: 0; left: 52px; }
			b:nth-child(2) { top: 26px; left: 0; }
			b:nth-child(4) { top: 26px; left: 26px; }
		}
		
		&[data-shape="J"] {
			top: 44px;
			left: 37px;

			b { background-position: 0 -25px; }
			b:nth-child(1) { top: 0; left: 26px; }
			b:nth-child(2) { top: 26px; left: 26px; }
			b:nth-child(3) { top: 52px; left: 26px; }
			b:nth-child(4) { top: 52px; left: 0; }
		}
		
		&[data-shape="T"] {
			top: 45px;
			left: 42px;

			b { background-position: -25px -25px; }
			b:nth-child(1) { top: 0; left: 0; }
			b:nth-child(2) { top: 26px; left: 0; }
			b:nth-child(3) { top: 52px; left: 0; }
			b:nth-child(4) { top: 26px; left: 26px; }
		}
		
		&[data-shape="I"] {
			top: 32px;
			left: 50px;

			b { background-position: -50px -25px; }
			b:nth-child(1) { top: 0; left: 0; }
			b:nth-child(2) { top: 26px; left: 0; }
			b:nth-child(3) { top: 52px; left: 0; }
			b:nth-child(4) { top: 78px; left: 0; }
		}
	}
}


@keyframes logoShift {
	0%   { y: -40; }
	100% { y: 0; }
}

@keyframes countdown {
	0%   { opacity: 0; }
	5%   { opacity: 1; transform: scale(1); }
	100% { opacity: 0; transform: scale(1.5); }
}

@keyframes textBounce {
	  0%, 20%, 50%, 80%, 100% { transform: translateZ(0); }
	  45% { transform: translateZ(-30px); }
	  60% { transform: translateZ(-15px); }
}

@keyframes textColors {
	100%, 0% { color: #ffb; }
	20% { color: #fbf; }
	40% { color: #bff; }
	60% { color: #bbf; }
	80% { color: #bfb; }
}


.pyroShadowLoop(@count) when (@count > 0) {
    .pyroShadowLoop(@count - 1);
    box-shadow+: 0 0 #fff;
}

// copied from: https://codepen.io/yshlin/pen/ylDEk
@keyframes bang {
	to {
		box-shadow: -195px -358.6666666667px #ff3300,
					-188px 74.3333333333px #9dff00,
					86px -174.6666666667px #ff001e,
					-70px -41.6666666667px #7b00ff,
					199px -331.6666666667px #ff00d5,
					-70px -103.6666666667px #c4ff00,
					4px -387.6666666667px #00eeff,
					-61px -229.6666666667px #ff002f,
					112px -146.6666666667px #00ffdd,
					187px 67.3333333333px #ff00b7,
					-50px -396.6666666667px #5500ff,
					177px -356.6666666667px #00eeff,
					-165px -120.6666666667px #ff00b3,
					151px 37.3333333333px #ff007b,
					17px -32.6666666667px #00ff26,
					215px -115.6666666667px #8cff00,
					-139px -41.6666666667px #77ff00,
					-84px -100.6666666667px #ff009d,
					-90px -130.6666666667px #91ff00,
					-100px -343.6666666667px #2600ff,
					222px -415.6666666667px #9900ff,
					-102px -216.6666666667px #ff0051,
					-135px -414.6666666667px #00ff1e,
					-130px -80.6666666667px #00ff73,
					-83px -50.6666666667px #0d00ff,
					149px -135.6666666667px #002bff,
					-174px -307.6666666667px #004dff,
					-155px -252.6666666667px #00ffb3,
					28px -402.6666666667px #ffd000,
					-150px -236.6666666667px #00ffd9,
					249px -164.6666666667px #ff0004,
					49px -94.6666666667px #1aff00,
					-216px -98.6666666667px #00ff77,
					-101px -147.6666666667px #2200ff,
					240px 1.3333333333px #00ffea,
					-55px -139.6666666667px #ff5900,
					-120px 1.3333333333px #ff8800,
					75px -265.6666666667px #00ffbb,
					204px -4.6666666667px #ff00ea,
					-76px -108.6666666667px #0044ff,
					-180px -48.6666666667px #ff5500,
					-129px -367.6666666667px #8000ff,
					-19px -189.6666666667px #91ff00,
					210px -100.6666666667px #ffc400,
					-71px -170.6666666667px #00ff33,
					-155px -117.6666666667px #0091ff,
					66px -259.6666666667px #00ff9d,
					98px -3.6666666667px #0026ff,
					-143px -128.6666666667px #0dff00,
					127px -47.6666666667px #00b3ff,
					79px -216.6666666667px #ff00d9;
	}
}

@keyframes gravity {
	to {
		transform: translateY(200px);
		opacity: 0;
	}
}

@keyframes position {
	0%,
	19.9% {
		margin-top: 10%;
		margin-left: 40%;
	}
	20%,
	39.9% {
		margin-top: 40%;
		margin-left: 30%;
	}
	40%,
	59.9% {
		margin-top: 20%;
		margin-left: 70%;
	}
	60%,
	79.9% {
		margin-top: 30%;
		margin-left: 20%;
	}
	80%,
	99.9% {
		margin-top: 30%;
		margin-left: 80%;
	}
}


// custom fonts
@font-face {
	font-family: "BebasNeueRegular";
	font-style: normal;
	font-weight: 400;
	// font-display: swap;
	src: url(~/fonts/BebasNeue-webfont.woff) format("woff2");
}



