
[data-ui="royale-beige"] {
	.win-body_ content {
		
	}
}

[data-ui="royale-amber"] {
	.win-body_ content {
		.view-game {
			.main {
				&:after {
					content: "";
					position: absolute;
					bottom: -1px;
					left: 3px;
					right: 3px;
					height: 1px;
					opacity: .3;
					background-image: linear-gradient(90deg, transparent, #fff, transparent);
				}
			}

			.side {
				.next,
				.hold,
				.score-board h2 {
					&:after {
						content: "";
						position: absolute;
						bottom: -1px;
						left: 3px;
						right: 3px;
						height: 1px;
						opacity: .3;
						background-image: linear-gradient(90deg, transparent, #fff, transparent);
					}
				}
			}
		}
	}
}

[data-ui="royale-black"] {
	.win-body_ content {
		.view-game {
			.main {
				&:after {
					content: "";
					position: absolute;
					bottom: -1px;
					left: 3px;
					right: 3px;
					height: 1px;
					opacity: .3;
					background-image: linear-gradient(90deg, transparent, #fff, transparent);
				}
			}

			.side {
				.next,
				.hold,
				.score-board h2 {
					&:after {
						content: "";
						position: absolute;
						bottom: -1px;
						left: 3px;
						right: 3px;
						height: 1px;
						opacity: .3;
						background-image: linear-gradient(90deg, transparent, #fff, transparent);
					}
				}
			}
		}
	}
}

[data-ui="royale-emerald"] {
	.win-body_ content {
		.view-game {
			.main {
				&:after {
					content: "";
					position: absolute;
					bottom: -1px;
					left: 3px;
					right: 3px;
					height: 1px;
					opacity: .3;
					background-image: linear-gradient(90deg, transparent, #fff, transparent);
				}
			}

			.side {
				.next,
				.hold,
				.score-board h2 {
					&:after {
						content: "";
						position: absolute;
						bottom: -1px;
						left: 3px;
						right: 3px;
						height: 1px;
						opacity: .3;
						background-image: linear-gradient(90deg, transparent, #fff, transparent);
					}
				}
			}
		}
	}
}

[data-ui="royale-purple"] {
	.win-body_ content {
		.view-game {
			.main {
				&:after {
					content: "";
					position: absolute;
					bottom: -1px;
					left: 3px;
					right: 3px;
					height: 1px;
					opacity: .3;
					background-image: linear-gradient(90deg, transparent, #fff, transparent);
				}
			}

			.side {
				.next,
				.hold,
				.score-board h2 {
					&:after {
						content: "";
						position: absolute;
						bottom: -1px;
						left: 3px;
						right: 3px;
						height: 1px;
						opacity: .3;
						background-image: linear-gradient(90deg, transparent, #fff, transparent);
					}
				}
			}
		}
	}
}

[data-ui="royale-pink"] {
	.win-body_ content {
		.view-game {
			.main {
				&:after {
					content: "";
					position: absolute;
					bottom: -1px;
					left: 3px;
					right: 3px;
					height: 1px;
					opacity: .3;
					background-image: linear-gradient(90deg, transparent, #fff, transparent);
				}
			}

			.side {
				.next,
				.hold,
				.score-board h2 {
					&:after {
						content: "";
						position: absolute;
						bottom: -1px;
						left: 3px;
						right: 3px;
						height: 1px;
						opacity: .3;
						background-image: linear-gradient(90deg, transparent, #fff, transparent);
					}
				}
			}
		}
	}
}
